# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/jozzacco/JozzAc/jozzAc"
PassengerBaseURI "/"
PassengerPython "/home/jozzacco/virtualenv/JozzAc/jozzAc/3.8/bin/python3.8"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteEngine On
RewriteCond %{HTTP:Connection} Upgrade [NC]
RewriteCond %{HTTP:Upgrade} websocket [NC]
RewriteRule /(.*) wss://127.0.0.1:8000/$1 [P,L]

ProxyRequests off
<Location />
    ProxyPass https://127.0.0.1:8000/
    ProxyPassReverse /
</Location>