{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ORDER HERE JOZZAC SURABAYA</title>
    <meta name="description" content="Service AC Surabaya jozzac">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="distribution" content="web">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://jozzac.com/" />

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style_Form.css" %}">

</head>

<body id="page-top">
    {% include "client/include/navbar.html" %}

    <!-- Page Wrapper -->
    <div id="wrapper">
                <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="container bg-warning my-2 py-2 service-form">
                        <div class="header-form m-2">
                            <h1 class="h1 text-gray-800 text-center">Form Pemesanan</h1>
                        </div>
                        <!-- list item -->
                        <form method="post", autocomplete="off">
                            {% csrf_token %}
                        <div class="list-product-dekstop">
                            <div class="card-item d-sm-inline-flex mr-5">
                                {% for produk in product %}
                                    {% if produk.slugProduct != 'khusus' %}
                                        <div class="card mx-2 p-2 mb-3">
                                            <div class="card-title">
                                                <p>Nama Product : {{produk.namaProduct}}</p>
                                            </div>
                                            <div class="card-body pl-1 pt-1">
                                                <p>Harga Estimasi : Rp. {{produk.hargaProduct|intcomma}} /Unit</p>

                                                <label for="{{produk.slugProduct}}KeteranganDesktop">Keterangan :</label>
                                                <textarea name="{{produk.slugProduct}}Keterangan" id="{{produk.slugProduct}}KeteranganDesktop" cols="30" rows="5" class="form-control"></textarea>

                                                <label for="Jumlah{{produk.id}}Desktop">Jumlah AC : </label>
                                                <input type="number" class="form-control" id="Jumlah{{produk.id}}Desktop" name="{{produk.slugProduct}}Jumlah">

                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" id="Check{{produk.id}}Desktop" name="{{produk.slugProduct}}" onclick="clickCheckDekstop(Jumlah{{produk.id}}Desktop, Check{{produk.id}}Desktop, Check{{produk.id}}Phone)">
                                                    <label class="form-check-label" for="Check{{produk.id}}Desktop">Klik untuk Memesan Product</label>
                                                </div>
                                                <small class="text-muted">* Harga tersebut bisa berubah
                                                sewaktu-waktu sesuai kondisi</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                
                            </div>
                        </div>

                        <div class="list-product-phone  mx-auto">
                            
                            <div class="container">
                                <div class="row">
                                    {% for produk in product %}
                                        {% if produk.slugProduct != 'khusus' %}
                                            <div class="col-6 mb-2">
                                                <a class="btn btn-light mx-1" data-toggle="collapse" href="#collapse{{produk.slugProduct}}" role="button" aria-expanded="false" aria-controls="collapse{{produk.slugProduct}}">
                                                    {{produk.namaProduct}}
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            {% for produk in product %}
                                {% if produk.slugProduct != 'khusus' %}
                                    <div class="collapse" id="collapse{{produk.slugProduct}}">
                                            <div class="card-form m-3 bg-light">
                                                <div class="card-title">
                                                    <p>Nama Product : {{produk.namaProduct}}</p>
                                                </div>
                                                <div class="card-body">
                                                    <p>Harga Estimasi : Rp. {{produk.hargaProduct|intcomma}} /Unit</p>

                                                    <label for="{{produk.slugProduct}}KeteranganPhone">Keterangan :</label>
                                                    <textarea name="{{produk.slugProduct}}Keterangan" id="{{produk.slugProduct}}KeteranganPhone" cols="30" class="form-control"></textarea>
                                                    
                                                    <label for="Jumlah{{produk.id}}Phone">Jumlah AC : </label>
                                                    <input type="number" class="form-control" id="Jumlah{{produk.id}}Phone" name="{{produk.slugProduct}}Jumlah" cols="25">

                                                    <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input" id="Check{{produk.id}}Phone" name="{{produk.slugProduct}}" onclick="clickCheckPhone(Jumlah{{produk.id}}Phone, Check{{produk.id}}Phone, Check{{produk.id}}Desktop)">
                                                        <label class="form-check-label" for="Check{{produk.id}}Phone">Klik untuk Memesan Product</label>
                                                    </div>
                                                    <small class="text-muted">* Harga tersebut bisa berubah
                                                    sewaktu-waktu sesuai kondisi</small>
                                                </div>
                                            </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <!-- Content Form -->
                        <div class="card-form m-3 bg-light p-4 rounded">
                            <form action="#" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="inputNama">Nama Pelanggan</label>
                                        <input name="nama_Client" type="text" class="form-control" id="inputNama" aria-describedby="emailHelp" required>
                                    </div>
                                    <div class="col">
                                        <label for="inputTelp">No Telfon / No Hp</label>
                                        <input name="noTelp_Client" type="text" class="form-control" id="inputTelp" aria-describedby="emailHelp" required>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="inputEmail">Email</label>
                                    <input name="email_Client" type="email" class="form-control" id="inputEmail"
                                        aria-describedby="emailHelp" required>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                       <label for="inputAlamat">Alamat</label>
                                        <input name="alamat_Client" type="text" class="form-control" id="inputAlamat" aria-describedby="emailHelp" required> 
                                    </div>
                                    <div class="col">
                                       <label for="inputKota">Kota</label>
                                        <input name="kota_Client" type="text" class="form-control" id="inputKota" aria-describedby="emailHelp" required> 
                                    </div>
                                </div>
                            </form>
                                <button type="submit" class="btn btn-dark mt-3">Pesan</button>
                        </div>
                        </form>
                    </div>

                </div>

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static "js/sb-admin-2.min.js" %}"></script>

        <!-- Page level plugins -->
        <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>

        <!-- Page level custom scripts -->
        <script src="{% static "js/demo/chart-area-demo.js" %}"></script>
        <script src="{% static "js/demo/chart-pie-demo.js" %}"></script>
        <script type="text/javascript">
            function clickCheckDekstop(jumlah, check, checkPhone){
                if (check.checked == true) {
                    checkPhone.checked = false
                    jumlah.required = true;
                }
                else{
                    jumlah.required = false;
                }
            }
            function clickCheckPhone(jumlah, check, checkDesktop){
                if (check.checked == true) {
                    checkDesktop.checked = false
                    jumlah.required = true;
                }
                else{
                    jumlah.required = false;
                }
            }
        </script>

</body>

</html>

