{% extends "admin/base_admin.html" %}

{% block Content %}
	<div class="container-fluid pr-auto pl-2">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Add Spesial Order</h1>
            </div>

            <!-- Content Form -->
            <form action="#" method="POST" class="ml-0 mr-5" autocomplete="off">
            	{% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{formClient.nama_Client.label_tag}}
                        {# <input type="text" class="form-control" placeholder="Nama Client" name="nama_Client"> #}
                        {{formClient.nama_Client}}
                    </div>
                    <div class="form-group col-md-4">
                      {{formClient.email_Client.label_tag}}
                        {# <input type="email" class="form-control" placeholder="@Email" name="email_Client"> #}
                        {{formClient.email_Client}}
                    </div>
                    <div class="form-group col-md-4">
                      {{formClient.noTelp_Client.label_tag}}
                      {{formClient.noTelp_Client}}
                        {# <input type="text" class="form-control" placeholder="No Telp" name="noTelp_Client"> #}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                        {{formClient.alamat_Client.label_tag}}
                        {{formClient.alamat_Client}}
                        {# <input type="text" class="form-control" placeholder="Alamat" name="alamat_Client"> #}
                    </div>
                    <div class="form-group col-md-3">
                      {{formClient.kecamatan_Client.label_tag}}
                      {{formClient.kecamatan_Client}}
                        {# <input type="text" class="form-control" placeholder="Kecamatan" name="kecamatan_Client"> #}
                    </div>
                    <div class="form-group col-md-3">
                      {{formClient.kelurahan_Client.label_tag}}
                      {{formClient.kelurahan_Client}}
                        {# <input type="text" class="form-control" placeholder="Kelurahan" name="kelurahan_Client"> #}
                    </div>
                    <div class="form-group col-md-2">
                      {{formClient.kota_Client.label_tag}}
                      {{formClient.kota_Client}}
                        {# <input type="text" class="form-control" placeholder="Kota" name="kota_Client"> #}
                    </div>  
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {{formJO.keterangan.label_tag}}
                      {{formJO.keterangan}}
                    </div>
                    
                    <div class="form-group col-md-2">
                      {{formJO.jumlah_Ac.label_tag}}
                      {{formJO.jumlah_Ac}}
                    </div>
                  </div>
                  <hr>

                  {# INVOICE #}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="id_Invoice">INVOICE</label>
                      {# <input type="text" class="form-control" id="id_Invoice" name="Invoice" onchange="InvoiceNumber(this.value)"> #}
                      {{form.Invoice}}
                    </div>
                    <div class="form-group col-md-6">
                      <label>Invoice Terakhir {{last_invoice.Invoice}}</label>
                      
                    </div>
                    </div>

                    <div class="form-group">
                      <label for="inputKeterangan">Keterangan</label>
                      {{form.Keterangan}}
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <label for="inputTotal">Total</label>
                        {{form.totalInvoice}}
                      </div>
                      <div class="form-group col-md-2">
                        <label for="id_statusPembayaran">Status Pembayaran</label>
                          {{form.statusPembayaran}}
                      </div>
                    </div>
                    <p>{{form.errors}}</p>

                <div class="modal-footer m-2">
                    <span style="color: #2AF314;">
                      <button type="submit" class="btn btn-link">
                        <i class="fas fa-check-circle fa-3x m-2"></i></button>
                    	{# <input type="submit" name="", class="fas fa-check-circle fa-3x m-2"> #}
                        
                    </span>
                    {# <span style="color: #f80d04;"> #}
                        {# <i type="button" class="fas fa-times-circle fa-3x m-2"></i> #}
                    {# </span> #}
                </div>
            </form>
        <!-- /.container-fluid -->

    </div>
{% endblock Content %}

{% block javaScript %}
  <script type="text/javascript">
    function romanize(num) {
      var lookup = {M:1000,CM:900,D:500,CD:400,C:100,XC:90,L:50,XL:40,X:10,IX:9,V:5,IV:4,I:1},roman = '',i;
      for ( i in lookup ) {
        while ( num >= lookup[i] ) {
          roman += i;
          num -= lookup[i];
        }
      }
      return roman;
    }

    function InvoiceNumber(val) {
      let date = new Date();
      let d = date.getMonth();
      let y = date.getFullYear();
      let month = romanize(d+1);
      let input = document.getElementById('id_Invoice').value;
      document.getElementById('id_Invoice').value = `INV/${val}/${month}/${y}`
    }
  </script>
{% endblock javaScript %}