{% extends "admin/base_admin.html" %}

{% block Css %}
    <style type="text/css">
        .cardJO{
            overflow-x: scroll;
            
        }
        .cardWidth{
            min-width: 20rem;
            min-height: 5rem;
            max-height: 10rem;
        }
    </style>
{% endblock Css %}

{% block Content %}
	<div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Approve / Cancel</h1>
                    </div>

                    <!-- Content Form -->
                    {% for client in pesanan %}
                    <div class="card card{{client.Id}} mb-3">
                        <div class="card-body px-0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm w-25">
                                        <h6>{{client.nama_Client}}</h6>
                                        <h6>{{client.alamat_Client}} {{client.kota_Client}}</h6>
                                        <h6>{{client.noTelp_Client}}</h6>
                                    </div>
                                    <div class="cardJO d-inline-flex">
                                    {% for JO in client.clientJO.all %}
                                    <div class="col-lg cardWidth">
                                        <div class="card mr-2 mb-2">
                                            <div class="card-body">
                                                <h6>JO : {{JO.nomor_jo}}</h6>
                                                {% if JO.keterangan != None %}
                                                <h6>Product {{JO.product}} ({{JO.keterangan}})</h6>
                                                {% else %}
												<h6>Product {{JO.product}}</h6>
                                                {% endif %}
                                                <h6>Jumlah Ac = {{JO.jumlah_Ac}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    	
                                    {% endfor %}
                                    </div>
                                            <span>
                                                <a href="{% url "pesanan:invoiceCreate" slug=client.slug_Client%}" class="fas fa-check-circle fa-2x m-2 btn-primary text-decoration-none" ></a>
                                            </span>
                                        <br>
                                            <span>
                                                <a class="fas fa-times-circle fa-2x m-2 btn-danger text-decoration-none" style="cursor: pointer;" onclick="FalseButton('{{client.nama_Client}}', '{{client.alamat_Client}}', '{{client.kota_Client}}', '{{client.noTelp_Client}}', '{{client.slug_Client}}')" data-toggle="modal" data-target="#ModalFalse"></a>
                                            </span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /.container-fluid -->
                </div>

{% endblock Content %}

{% block Modal %}
    {% include "admin/include/modalApproval.html" %}
{% endblock Modal %}

{% block javaScript %}
    <script type="text/javascript">
    var loc = window.location;
        function FalseButton(nama, alamat, kota, telp, slug) {

            document.getElementById('nama').innerHTML = nama;
            document.getElementById('alamat').innerHTML = alamat + " - " + kota;
            // document.getElementById('kota').innerHTML = kota;
            document.getElementById('telp').innerHTML = telp;
            document.getElementById('inputForm').value = slug
        }

    function changeURL(slug) {
        var theURL = window.location.pathname;
       return  theURL.replace(theURL, `${theURL}?data=${slug}`);
        //Set URL

    }
    </script>
{% endblock javaScript %}