{% extends "admin/base_admin.html" %}
{% load humanize %}


{% block Content %}
	<div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="dropdown no-arrow ml-1">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left shadow animated--fade-in pl-3"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Laporan Pendapatan</div>
                                            <button type="button" class="d-none d-sm-inline-block btn btn-outline-primary shadow-sm mb-2" data-toggle="modal" data-target="#ModalReport" onclick="GenerateReport('pendapatan')"><i
                                                class="fas fa-download fa-sm text-gray-50"></i> Generate Report</button>
                                            <a href="{% url "pesanan:ReportPendapatan" %}" target="_blank" class="d-none d-sm-inline-block btn btn-outline-primary shadow-sm" ><i
                                                class="fas fa-download fa-sm text-gray-50"></i> Generate Report All</a>
                                        </div>
                                    </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Pendapatan ({{month}})</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rp.{{pendapatan.Total|intcomma}}</div>
                                        </div>
                                        <div class="col-auto">
                                           <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="dropdown no-arrow ml-1">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left shadow animated--fade-in p-3"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Laporan Piutang</div>
                                            <button class="d-none d-sm-inline-block btn btn-outline-success shadow-sm mb-2" data-toggle="modal" data-target="#ModalReport" onclick="GenerateReport('piutang')"><i
                                                class="fas fa-download fa-sm text-gray-50"></i> Generate Report</button>
                                            <a href="{% url "pesanan:ReportPiutang" %}" target="_blank" class="d-none d-sm-inline-block btn btn-outline-success shadow-sm" ><i
                                                class="fas fa-download fa-sm text-gray-50"></i> Generate Report All</a>
                                         </div>
                                    </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Piutang</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rp.{{piutang.Total|intcomma}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="dropdown no-arrow ml-1">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left shadow animated--fade-in p-3"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Laporan SPK</div>
                                            <button type="button" class="d-none d-sm-inline-block btn btn-outline-info shadow-sm mb-2" data-toggle="modal" data-target="#ModalReport" onclick="GenerateReport('spk')"><i
                                                class="fas fa-download fa-sm text-gray-50"></i> Generate Report</button>
                                            <a href="{% url "spk:cetakReport" %}" target="_blank" class="d-none d-sm-inline-block btn btn-outline-info shadow-sm" ><i
                                                class="fas fa-download fa-sm text-gray-50"></i> Generate Report All</a>
                                        </div>
                                    </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">SPK On Progress
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{OnProgress}}%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: {{OnProgress}}%" aria-valuenow="{{OnProgress}}" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="dropdown no-arrow ml-1">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left shadow animated--fade-in p-3"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Laporan Order Pending</div>
                                            <a href="{% url "pesanan:ReportRequest" %}" target="_blank" class="d-none d-sm-inline-block btn btn-outline-warning shadow-sm"><i
                                                class="fas fa-download fa-sm text-gray-50" ></i> Generate Report</a>
                                        </div>
                                    </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{panding.Total}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

{% endblock Content %}

{% block Modal %}
    {% include "admin/include/modalReport.html" %}
{% endblock Modal %}

{% block javaScript %}
    <script type="text/javascript">
        function GenerateReport(key) {
            if (key === 'pendapatan') {
                document.getElementById("ModalReportTitle").innerHTML = "Generate Report Pendapatan"
                document.getElementById("formReport").setAttribute('action', "{% url "pesanan:ReportPendapatan" %}")
            }
            else if(key === 'piutang'){
                document.getElementById("ModalReportTitle").innerHTML = "Generate Report Piutang"
                document.getElementById("formReport").setAttribute('action', "{% url "pesanan:ReportPiutang" %}")
            }
            else if(key === 'spk'){
                document.getElementById("ModalReportTitle").innerHTML = "Generate Report SPK"
                document.getElementById("formReport").setAttribute('action', "{% url "spk:cetakReport" %}")
            }
        }
    </script>
{% endblock javaScript %}