{% extends "admin/base_admin.html" %}

{% block Content %}
	<div class="container-fluid">
		<div class=" d-sm-flex align-items-center justify-content-between mb-4">
        	<h1 class="h3 mb-0 text-gray-800">INVOICE</h1>
    	</div>

	    <div class="form-inline">
	    	<div class="form-group">
		    	<input type="text" list="invoiceList" class="form-control input_Invoice" id='input_Inv' placeholder="No Invoice" />
		    		<datalist id="invoiceList">
						{% for data in listInvoice %}
							<option>{{data.Invoice}}</option>
						{% endfor %}
					</datalist>
		    	<button type="submit" class="btn btn-primary ml-3 btn_getView">Search</button>
	    	</div>
	    </div>
    <hr>

    	<div class="invoiceView">
    		
    	</div>

	</div>
	
{% endblock Content %}

{% block javaScript %}
	<script type="text/javascript">
		$(document).ready(function(){
			$(".btn_getView").click(function(){
				$.ajax({
					url:"getView/",
					dataType: 'json',
					type: 'get',
					data:{
						button_text:$(".input_Invoice").val()
					},
					success: function(response){
						$(".invoiceView").html(response.list_Invoice)
					}
				})
			})
		})
	</script>
{% endblock javaScript %}