{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>LAPORAN PENDAPATAN</title>
	<style type="text/css">
     @page{
      size: letter portrait;
      margin: 1cm 1cm;

     }

   </style>
</head>
<body>
	{% if error != 'Page Not Found' %}
	    <div style="position:inline;">
	     <img src="http://{{hostname}}/static/Logo_cv.png" style="width:100%; margin-left:10px;">
	     <h1>JozzAc Surabaya</h1>
    </div>
    <h2 style="text-align: center;">
    	LAPORAN PENDAPATAN {% if first != None %}
    		PERIODE {{first}} - {{last}}
    	{% endif %} 
	</h2>
    <table style="border: 1px solid black;">
    	<tr style="height: 25px; font-size:12px; text-align: center; vertical-align: center;">
          <th style=" width:20%;">INVOICE</th>
          <th >KETERANGAN</th>
          <th style="width:20%;">JUMLAH</th>
      	</tr>
      	{% for x in objects %}
      		<tr style="font-size:12px;">
      			<td style="margin:10px; vertical-align: top; text-align: left; padding-top: 5px;">
      				{{x.Invoice|linebreaks}}
      			</td>
      			<td style="margin:10px; vertical-align: top; text-align: left; padding-top: 5px;">
      				{{x.Keterangan|linebreaks}}
      			</td>
      			<td style="margin:10px; vertical-align: top; text-align: right; padding-top: 5px;">
      				Rp. {{x.totalInvoice|intcomma}}
      			</td>
      		</tr>
      	{% endfor %}
      	<tr style="font-size:13px; font-weight: bold;">
      		<td colspan="2" style="margin:10px; vertical-align: top; text-align: center; padding-top: 5px;">
      			TOTAL PENDAPATAN
      		</td>
      		<td style="margin:10px; vertical-align: top; text-align: right; padding-top: 5px;">
      			Rp. {{Total.Total|intcomma}}
      		</td>
      	</tr>
    </table>
	{% endif %}
	
</body>
</html>