{% extends "admin/base_admin.html" %}
{% load static %}


{% block Content %}
	<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tracking</h1>
                    </div>

                    <!-- Content Form -->
                    <div class="container" style="margin-bottom:20px;">
                        <div class="row row-cols-1 row-cols-md-3">
                        	{# <div class="card-deck"> #}
                        		{% for data in pesanan %}
		                            <div class="col mb-2">
		                                <div class="card h-100">
		                                    <div class="card-body">
	                                        	<p id="namaClient">Nama : {{data.clientINV.nama_Client}}</p>
	                                            <p id="telpClient">Nomor Telp : {{data.clientINV.noTelp_Client}}</p>
	                                            <p id="alamatClient">Alamat : {{data.clientINV.alamat_Client}} {{data.clientINV.kota_Client}}</p>
	                                            <p id="payment">Pembayaran : {{data.get_statusPembayaran_display}}</p>
		                                    </div>
		                                    <div class="card-footer">
										      <button class="btn btn-primary" onclick="getData({{data.id}})">Detail</button>
										    </div>
		                                </div>
		                            </div>
	                        	{% endfor %}
                        	{# </div> #}
                        	
                          
                        </div>
                    </div>

                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
{% endblock Content %}

{% block Modal %}
	<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
           
        </div>
    </div>
</div>
{% endblock Modal %}

{% block javaScript %}
<script type="text/javascript">
	function getData(id){
		$(document).ready(function(){
				$.ajax({
					url:"getView/",
					dataType: 'json',
					type: 'get',
					data:{
						button_text:id
					},
					beforeSend: function () {
				        $("#Modal").modal("show");
				      },
					success: function(response){
						$("#Modal .modal-content").html(response.infoData);
					},

				})
			})
	}
</script>
{% endblock javaScript %}