{% load static %}
{% load humanize %}

<html>
 <head>
   <title>{{object.Invoice}}</title>
   {# <link rel="stylesheet" type="text/css" href="{% static "css/invoicePDF.css" %}"> #}
   <style type="text/css">
     @page{
      size: letter portrait;
      margin: 1cm 1cm;

     }

   </style>
   
 </head>
 <body>
  
    <div style="position:inline;">
     <img src="http://{{hostname}}/static/Logo_cv.png" style="width:100%; margin-left:10px;">
     <h1>JozzAc Surabaya</h1>
    </div>
  

  <table style="margin-bottom:20px; margin-top:10px;">
    <tr>
      <th style="display:flex; text-align:left; font-size:15px; width:50%; vertical-align: top;">
          <p>{{object.no_SPK}} <br>
            Tanggal Pengerjaan : {{object.tgl_pengerjaan}}
          </p>
          </div>
      </th>
      <th style="display:flex; text-align:right; font-size:15px; vertical-align: top;">
            <p>Teknisi : {{object.teknisi.username}}</p>
          </div>
      </th>
    </tr>
  </table>
  <table>
    <tr>
      <th style="text-align:left;">
          <div style="font-size:13px; margin-left:10px;">
            <pre>Nama   : {{client.nama_Client}}<br>Telp   : {{client.noTelp_Client}}<br>Alamat : {{client.alamat_Client}} - {{client.kota_Client}}</pre>
            <p>Keterangan : <br> {{object.keterangan}}</p>
          </div>
      </th>
    </tr>
  </table>

 </body>
</html>