{% extends "admin/base_admin.html" %}

{% block Content %}
	<div class="container-fluid pr-auto pl-2">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
	        <h1 class="h3 mb-0 text-gray-800">Cari Surat Perintah Kerja</h1>
	    </div>

	    <div class="form-inline">
	    	<div class="form-group mx-sm-3 mb-2">
			    <input type="text" list="spkList" class="form-control" id='input_spk' placeholder="No SPK" />
				<datalist id="spkList">
					{% for data in listSpk %}
						<option>{{data.no_SPK}}</option>
					{% endfor %}
				</datalist>
		  	</div>
		  <button type="submit" class="btn btn-primary mb-2" onclick="search(input_spk.value)">Search</button>
	    </div>
	 	<hr>

	 	<div id="spkFalse" style="display:none">
	 		<h1 id="spkInfo"></h1>
	 	</div>

	  	<div id='spk' style="display:none">
	  		<div class="card border-success mb-3 ml-3" style="max-width: 30%;">
			  <div class="card-header bg-transparent border-success" id='no_SPK'></div>
			  <div class="card-body text-dark">
			    <h5 class="card-title" id='keterangan'></h5>
			    <p class="card-text" id='tgl_input'></p>
			    <p class="card-text" id='status'></p>
			  </div>
			  <div class="card-footer bg-transparent border-success">
			  	<a class="btn btn-primary" id='link_Edit'>Detail</a>
			  	<a class="btn btn-success" id='link_Cetak' target="_blank">Cetak</a>
			  </div>
			</div>	
	 
	    </div>

	    
    </div>
{% endblock Content %}

{% block javaScript %}
	<script type="text/javascript">
		var loc = window.location
		var wsStart = 'ws://';
		if (loc.protocol == 'https:') {
			wsStart = 'wss://'
		}

		var url = wsStart + loc.host + loc.pathname; 
		function search (value) {
			key = value.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,'_')
			var socket = new WebSocket(url+key);

			socket.onmessage = function(e){
				console.log('message', e);
				let data = JSON.parse(e.data)
				if (data.no_SPK !== false) {
					let x = document.getElementById('spk')
					let y = document.getElementById('spkFalse')
					if (x.style.display === 'none') {
						x.style.display = 'block';
					}
					if (y.style.display === 'block') {
						y.style.display = 'none';
					}

					document.getElementById("no_SPK").innerHTML = data.no_SPK;
					document.getElementById("tgl_input").innerHTML = "Tanggal Input : " +  data.tgl_input;
					document.getElementById("keterangan").innerHTML = "Keterangan : <br>" + data.keterangan;
					document.getElementById("status").innerHTML = "Status : " + data.status;
					let link_Edit = document.getElementById("link_Edit").setAttribute('href', "{% url "spk:update" slug='slugSPK' %}".replace(/slugSPK/, data.slug));
					let link_Cetak = document.getElementById("link_Cetak").setAttribute('href', "{% url "spk:cetakPDF" slug='slugSPK' %}".replace(/slugSPK/, data.slug));
				}
				else {
					let x = document.getElementById('spk')
					let y = document.getElementById('spkFalse')
					if (x.style.display === 'block') {
						x.style.display = 'none';
					}
					if (y.style.display === 'none') {
						y.style.display = 'block';
					}
					document.getElementById("spkInfo").innerHTML = "SPK Tidak Ditemukan";
				}
				
			}
		}

	</script>
{% endblock javaScript %}