{% extends "admin/base_admin.html" %}


{% block Content %}
	<div class="container-fluid pr-auto pl-2">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
		    <h1 class="h3 mb-0 text-gray-800">List Invoice Tanpa SPK</h1>
		</div>


		<div class="row row-cols-1 row-cols-md-3 md-3 mb-3">
		{% for data in object %}
			<div class="col-sm-6 card-deck mb-3">
				<div class="card" style="width: 30%;">
				  <div class="card-body">
				    <h5 class="card-title">{{data.Invoice}}</h5>
				    <h6 class="card-subtitle mb-2 text-muted">Nama : {{data.clientINV.nama_Client}}</h6>
				    
				    <h6 class="card-text">Keterangan: {{data.Keterangan|linebreaks}}</h6>
				  </div>
				    <div class="card-footer">
					    <a href="{% url "spk:create" slug=data.slug_Invoice %}" class="card-link btn btn-primary">Buat SPK</a>
					</div>
				</div>
			</div>
		{% empty %}
			<h5 class="ml-3">Tidak Ada Invoice</h5>
		{% endfor %}
		</div>

</div>
{% endblock Content %}