{% extends "admin/base_admin.html" %}
{% load static %}

{% block Content %}
	<div class="container-fluid pr-auto pl-2">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
	        <h1 class="h3 mb-0 text-gray-800">Update Surat Perintah Kerja Untuk {{object.no_SPK}}</h1>
	    </div>
    </div>

    <form method="post" autocomplete="off">
    	{% csrf_token %}
    	{{form.pesanan}}
    	<div class="col-md-4 mb-3">
  			{{form.no_SPK.label_tag}}
  			{{form.no_SPK}}
		  </div>

    	<div class="form-row">

    		<div class="col-sm-2 mb-3 ml-2">
    			{{form.teknisi.label_tag}}
    			{{form.teknisi}}
    			{{form.teknisi.error}}
    		</div>
    			
    		<div class="col-sm-2 mb-2 ml-3">
    			{{form.tgl_pengerjaan.label_tag}}
    			{{form.tgl_pengerjaan}}
    		</div>

    		<div class="col-sm-2 mb-2 ml-3">
	    		{{form.status.label_tag}}
	    		{{form.status}}
    		</div>
    	</div>
    	
    	<div class="ml-2">
    		{{form.keterangan.label_tag}}
    		{{form.keterangan}}
    	</div>

    	{{form.errors}}
    	

    	<button type="submit" class="btn btn-primary my-4 ml-2">Update</button>
      	<a class="btn btn-success" href="{% url "spk:cetakPDF" slug=object.slug_SPK%}" target="_blank">Cetak</a>
    </form>

    
{% endblock Content %}