{% extends "admin/base_admin.html" %}

{% block Content %}
	<div class="container-fluid mb-3">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Event Content Update</h1>
        </div>

        <div class="row">
        	<div class="col-md-3">
        		<div class="card card-body">
					<h3 style="text-align: center">Image Content</h3>
					<hr>
					<img src="{{object.image.url}}" >
				</div>
        	</div>
        	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" autocomplete="off" enctype="multipart/form-data">
				{% csrf_token %}
				    <div class="form-group col-md-3">
				      	{{form.nama_Content.label}}
        				{{form.nama_Content}}
				    </div>
			    	<div class="form-group col-md-7">
	        			<label for="id_image">Image</label>
	        			{{form.image}}
			    	</div>
				<div class="form-group col-md-7">
					{{form.keterangan_Content.label}}
	        		{{form.keterangan_Content}}
				</div>
        		{{form.admin}}
				<button type="submit" class="btn btn-primary ml-3">Sumbit</button>
				<button type="button" class="btn btn-primary buttonSubmit" data-toggle="modal" data-target="#exampleModal">
		          Delete
		        </button>
			</form>
		</div>
	</div>
        </div>
    </div>
{% endblock Content %}

{% block Modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{object.nama_Content}}</h5>
        <button type="button" class="btn-close btn-outline-secondary" data-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
      	<img src="{{object.image.url}}" class="card-img-top" alt="{{object.image}}" height="250px">
        <p><br>Keterangan : {{object.keterangan_Content|linebreaks}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method="post" action="{% url "eventContent:delete" slug=object.slug_Content%}">
        	{% csrf_token %}
        	<button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock Modal %}