{% load static %}
{% load humanize %}

<!-- Modal -->
<div class="modal-header">
    <div class="modal-title" id="exampleModalLabel">
        <h6 id='nama'>Nama : {{client.nama_Client}}</h6>
        <h6 id='telp'>No Telp : {{client.noTelp_Client}}</h6>
        <h6 id='alamat'>Alamat : {{client.alamat_Client}}</h6>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" id='kwitansi'>Invoice : {{invoice.Invoice}}</h5>
            <p class="card-text" id='ket'>{{invoice.Keterangan|linebreaks}}</p>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 id='total'>Jumlah : {{invoice.totalInvoice|intcomma}}</h6>
                    </div>
                    <div class="col-sm">
                        <h6 id='teknisi'>
                            {% if spk != False %}
                                Teknisi : {{spk.teknisi.username}}
                            {% else %}
                                -
                            {% endif %}
                        
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <div class="row">
            <h6 id='approve'>
                {% if approv != False %}
                    {% if approv.approve == True %}
                        Sudah Approve                        
                    {% endif %}
                {% else %}
                    Belum Approve
                {% endif %}
            </h6>
        </div>
        <div class="row" >
            <h6 id="paymentModal">{{invoice.get_statusPembayaran_display}}</h6>
        </div>
        <div class="row" >
            <h6 id="spkProgress">
                {% if spk != False %}
                    {{spk.get_status_display}}
                {% else %}
                    Belum Ada SPK
                {% endif %}
            </h6>
        </div>
    </div>
</div>
