{% load static %}
{% load humanize %}

<div class="modal fade" id="ModalReport" tabindex="-1" aria-labelledby="ModalReportLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalReportTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="get" id="formReport" target="_blank">
          {% csrf_token %}
      <div class="modal-body">
        	 <div class="row">
    			    <div class="col">
    			    	<label for="awal">First Date</label>
    			      	<input type="date" class="form-control" id='awal' name="first">
    			    </div>
    			    <div class="col">
    			    	<label for="akhir">Last Date</label>
    			      	<input type="date" class="form-control" id="akhir" name="last">
    			    </div>
			     </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Generate</button>
      </div>
        </form>
    </div>
  </div>
</div>