{% extends "admin/base_admin.html" %}
{% load static %}

{% block Content %}
<div class="container-fluid pr-auto pl-2">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Pembayaran Untuk {{invoice.Invoice}}</h1>
    </div>

    <form method="post" autocomplete="off">
    	{% csrf_token %}

	    <div class="row">
	    	<div class="col-md-4 mb-3">
				{{form.no_pembayaran.label_tag}}
				{{form.no_pembayaran}}
				<small id="id_no_Pembayaran" class="form-text text-muted">Nomor SPK Terakhir {{lastPayment}}</small>
			</div>

			<div class="col-sm-2 mb-3">
    			{{form.tgl_pembayaran.label_tag}}
    			{{form.tgl_pembayaran}}
    			{{form.tgl_pembayaran.error}}
    		</div>

    		<small class="form-text text-muted col-sm-7">
			  {{form.errors}}
			</small>
	  	</div>
	  	<div class="row">
	  		<div class="col-sm-6 mb-3">
    			{{form.keterangan.label_tag}}
    			{{form.keterangan}}
    			{{form.keterangan.errors}}
    		</div>
	  	</div>

	  	<div class="row">
	  		<div class="col-sm-3 mb-3">
    			{{form.jumlah.label_tag}}
    			{{form.jumlah}}
    			{{form.jumlah.errors}}
    		</div>
	  	</div>
    	{{form.admin}}
    	{{form.invoice}}

    	<button type="submit" class="btn btn-primary my-4">Submit</button>
    	{% for message in messages %}
    		<li>{{message}}</li>
    	{% endfor %}
    	
    </form>

</div>

{% endblock Content %}

{% block javaScript %}
	<script type="text/javascript">
		function romanize(num) {
		  var lookup = {M:1000,CM:900,D:500,CD:400,C:100,XC:90,L:50,XL:40,X:10,IX:9,V:5,IV:4,I:1},roman = '',i;
		  for ( i in lookup ) {
		    while ( num >= lookup[i] ) {
		      roman += i;
		      num -= lookup[i];
		    }
		  }
		  return roman;
		}

		function KM_Value(val) {
			if (document.getElementById('id_no_pembayaran').value != '') {
				let date = new Date();
				let d = date.getMonth();
				let y = date.getFullYear();
				let month = romanize(d+1);
				let input = document.getElementById('id_no_pembayaran').value;
				document.getElementById('id_no_pembayaran').value = `${val}/KM/${month}/${y}`
			}
			
		}
	</script>
{% endblock javaScript %}