{% extends "admin/base_admin.html" %}
{% load humanize %}

{% block Content %}
	<div class="container-fluid">
		<div class=" d-sm-flex align-items-center justify-content-between mb-4">
	    	<h1 class="h3 mb-0 text-gray-800">LIST PIUTANG</h1>
		</div>
		<div class="CardInv" style="margin-bottom: 20px;">
			{% for data in object %}
				<div class="col-sm-4 card-deck mb-3">
					<div class="card">
					  <div class="card-body">
					    <h5 class="card-title">{{data.Invoice}}</h5>
					    <h6 class="card-subtitle mb-2 text-muted">{{data.clientINV.nama_Client}}</h6>
					    <p class="card-text">Jumlah : Rp. {{data.totalInvoice|intcomma}}</p>
				    	<p class="card-text">Status : {{data.get_statusPembayaran_display}} (Belum Ada Kas Masuk)</p>
					  </div>
					    <div class="card-footer">
						    <a href="{% url "pembayaran:create" slug=data.slug_Invoice %}" class="card-link btn btn-primary">Buat Kas Masuk</a>
						</div>
					</div>
				</div>
				
				
			{% endfor %}
			
		</div>
	</div>
{% endblock Content %}