{% load static %}
{% load humanize %}

<html>
 <head>
   <title>{{object.Invoice}}</title>
   {# <link rel="stylesheet" type="text/css" href="{% static "css/invoicePDF.css" %}"> #}
   <style type="text/css">
     @page{
      size: letter portrait;
      margin: 1cm 1cm;
     }

   </style>
   
 </head>
 <body>
  
  <table style="margin-bottom:20px; margin-top:10px;">
    <tr>
      <th style="display:flex; text-align:left; width:70%; vertical-align: top;">
        <div style="position:inline;">
          <img src="http://{{hostname}}/static/Logo_cv.png" style="width:100%; margin-left:10px;">
          <h1>JozzAc Surabaya</h1>
          <p style="font-size:15px;">{{object.no_pembayaran}}</p>
      </th>

      <th style="text-align:left; width:30%; vertical-align: bottom;">
        <pre style="font-size:15px;">Invoice  : {{invoice.Invoice}}<br>Client   : {{invoice.clientINV.nama_Client}}<br>Tanggal  : {{object.tgl_pembayaran}}</pre>
      </th>
    </tr>
  </table> 

   <table style="border: 1px solid black;">
      <tr style="height: 30px; font-size:15px; text-align: center;">
          <th>KETERANGAN</th>
          <th >JUMLAH</th>
      </tr>
      <tr style=" height: 80px; font-size:14px;">
        <td style="margin:10px; vertical-align: top; text-align: left;  padding-top: 5px;" class="keterangan">
          {{object.keterangan|linebreaks}}
        </td>
        <td style="width:30%; vertical-align: top; text-align: right; margin-right:20px; padding-top: 5px;">
          Rp. {{object.jumlah|intcomma}}
        </td>
      </tr>

      <tr>
        <td colspan="2" style="height:30px; margin-left:5px;">
        <p style="font-size:12px;">Terbilang : {{terbilang}}</p>
        </td>
      </tr>
  </table>

 </body>
</html>