{% extends "admin/base_admin.html" %}

{% block Content %}
	<div class="container-fluid pr-auto pl-2">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
	        <h1 class="h3 mb-0 text-gray-800">Cari Pembayaran</h1>
	    </div>

	    <div class="form-inline">
	    	<div class="form-group mx-sm-3 mb-2">
			    <input type="text" list="spkPayment" class="form-control" id='input_payment' placeholder="No Kas Masuk" />
				<datalist id="spkPayment">
					{% for data in object %}
						<option>{{data.no_pembayaran}}</option>
					{% endfor %}
				</datalist>
		  	</div>
		  <button type="submit" class="btn btn-primary mb-2" onclick="search(input_payment.value)">Search</button>
	    </div>
	 	<hr>

	 	<div id='paymentFalse' style="display:none" class="ml-3">
	 		<h1 id="paymentInfo"></h1>
	 	</div>

	  	<div id='payment' class="ml-3">
	  		
	 
	    </div>

	    
    </div>
{% endblock Content %}

{% block javaScript %}
	<script type="text/javascript">
		function search(value) {
			$(document).ready(function(){
				$.ajax({
					url:"getView/",
					dataType: 'json',
					type: 'get',
					data:{
						button_text:value
					},
					success: function(response){
						$('#payment').html(response.list_payment)
					}
				})
			})
		}

	</script>
{% endblock javaScript %}