[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/demo/jozzAC
ExecStart=/home/demo/virt/bin/gunicorn \
          --access-logfile - \
          --workers 2 \
          --bind unix:/home/demo/var/sock/gunicorn.sock \
          jozzAc.wsgi:application

[Install]
WantedBy=multi-user.target