[Unit]
Description=jozzAc Service

[Service]
User=root
Group=root
WorkingDirectory=/root/demo/jozzAC
EnvironmentFile=/root/demo/etc/jozzAc.env
ExecStart=/root/demo/virt/bin/gunicorn jozzAc.wsgi:application --config /root/demo/etc/gunicorn.conf.py
ExecReload=/bin/kill -s HUP $MAINPID