[Unit]
Description=jozzAc Service

[Service]
User=root
Group=www-data
WorkingDirectory=/home/demo/jozzAC
EnvironmentFile=/home/demo/etc/jozzAc.env
ExecStart=/home/demo/virt/bin/gunicorn jozzAc.wsgi:application --config /home/demo/etc/gunicorn.conf.py

[Install]
WantedBy=multi-user.target