[Unit]
Description=Web server

[Service]
Type=forking
User=root
Group=nobody
ExecStart=/usr/sbin/nginx -c /root/demo/etc/nginx.conf
ExecReload=/usr/sbin/nginx -s reload

[Install]
WantedBy=multi-user.target