{% extends "admin/base_admin.html" %}

{% block Content %}
	<div class="container-fluid mb-3">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
	        <h1 class="h3 mb-0 text-gray-800">UPDATE USER {{object.username|upper}}</h1>
	    </div>
	    <form method="post" autocomplete="off">
			{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-3">
					{{form.username.label}}
					{{form.username}}
				</div>
				<div class="form-group col-3">
					{{form.jabatan.label}}
					{{form.jabatan}}
				</div>
			</div>
			
				<p>{{object.password}}
					<br>
					Jika ingin mengubah password silakan isi pada <a href="{% url "account:password" pk=object.id%}">formulir ini...</a>
				</p>
				
			{# {{form}} #}
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-danger buttonSubmit" data-toggle="modal" data-target="#exampleModal">
		  		Delete
			</button>
		</form>
	    
	</div>
		
{% endblock Content %}

{% block Modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Akun User</h5>
        <button type="button" class="btn-close btn-outline-secondary" data-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <p>Username : {{object.username}}</p>
        <p>Position : {{object.jabatan}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method="post" action="{% url "account:delete" pk=object.id%}">
        	{% csrf_token %}
        	<button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock Modal %}