[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/jozzAc/jozzAc
ExecStart=/usr/local/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/jozzAc/jozzAc/jozzAc.sock jozzAc.wsgi:application

[Install]
WantedBy=multi-user.target